{% extends '_layouts/base.html' %}
{% load static %}

{% block head %}
<title>Início</title>
<link rel="stylesheet" href="{% static 'css/style_inicio.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="shortcut icon" href="{% static 'img/calculadora.webp' %}" type="image/x-icon">
{% endblock %}

{% block conteudo_main %}
<!-- sistemas de alerta -->
{% if messages %}
<div id="alertas">
    {% for message in messages %}
    <div class="alert alert-warning">
        <i class="bi bi-exclamation-triangle-fill"></i> {{ message }} Dúvidas? Acesse: <a href="#"
            class="alert-link">documentação</a>.
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container-fluid shadow-sm p-3 mb-5 bg-body-tertiary rounded text-center" id="container_principal">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Início</li>
                <li class="breadcrumb-item active" aria-current="page">Calculadora Geral</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-8">
            <!-- entrada -->
            <form action="" method="POST">
                {% csrf_token %}
                <!-- n decimais -->
                <div class="mb-3 row">
                    <label for="decimal" class="col-sm-2 col-form-label">Decimal:</label>
                    <div class="col-sm-10">
                        <input name="decimal" type="number" pattern="[0123456789]*" min="0" step="1"
                            class="form-control" id="decimal">
                    </div>
                </div>

                <!-- binario -->
                <div class="mb-3 row">
                    <label for="binario" class="col-sm-2 col-form-label">Binário:</label>
                    <div class="col-sm-10">
                        <input name="binario" pattern="[01]*" type="text" class="form-control" id="binario">
                    </div>
                </div>

                <!-- hexadecimal  -->
                <div class="mb-3 row">
                    <label for="hexadecimal" class="col-sm-2 col-form-label">Hexadecimal: </label>
                    <div class="col-sm-10">
                        <input name="hexadecimal" pattern="[0123456789ABCDEFabcdef]*" type="text" class="form-control"
                            id="hexadecimal">
                    </div>
                </div>

                <!-- octal  -->
                <div class="mb-3 row">
                    <label for="octal" class="col-sm-2 col-form-label">Octal: </label>
                    <div class="col-sm-10">
                        <input name="octal" pattern="[01234567]*" type="text" class="form-control" id="octal">
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-calculator-fill"></i>
                        Calcular</button>
                    <button type="reset" class="btn btn-danger"><i class="bi bi-x-circle-fill"></i> Limpar</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            <!-- exibir resultado -->
            <div class="mb-3 row">
                <label for="resultado_decimal" class="col-sm-2 col-form-label">Decimal: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ decimal }}" id="resultado_decimal" readonly
                        disabled>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="resultado_binario" class="col-sm-2 col-form-label">Binário: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ binario }}" id="resultado_binario" readonly
                        disabled>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="resultado_hexadecimal" class="col-sm-2 col-form-label">Hexad.: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ hexadecimal }}" id="resultado_hexadecimal"
                        readonly disabled>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="resultado_octal" class="col-sm-2 col-form-label">Octal: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{ octal }}" id="resultado_octal" readonly disabled>
                </div>
            </div>

            <div>
                <button type="reset" class="btn btn-success"><i class="bi bi-clipboard-check-fill"></i> Copiar</button>
            </div>
        </div>
    </div>
</div>

<!-- tabela de equivalencia -->
<section id="tabela_referencias" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="17" scope="col">Tabela de Equivalências</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Decimal</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
            </tr>
            <tr>
                <td scope="row">Binário</td>
                <td>0</td> 
                <td>1</td>
                <td>10</td>
                <td>11</td>
                <td>100</td>
                <td>101</td>
                <td>110</td>
                <td>111</td>
                <td>1000</td>
                <td>1001</td>
                <td>1010</td>
                <td>1011</td>
                <td>1100</td>
                <td>1101</td>
                <td>1110</td>
                <td>1111</td>
            </tr>
            <tr>
                <td scope="row">Hexadecimal</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>A</td>
                <td>B</td>
                <td>C</td>
                <td>D</td>
                <td>E</td>
                <td>F</td>
            </tr>
            <tr>
                <td scope="row">Octal</td>
                <td>0</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
            </tr>
        </tbody>
    </table>

</section>
{% endblock %}
